/* Code tidied up by ScrapBook */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-user-select: none;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}
.slick-list:focus {
  outline: medium none;
}
.slick-list.dragging {
  cursor: pointer;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0px, 0px, 0px);
}
.slick-track {
  position: relative;
  top: 0px;
  left: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track::before,
.slick-track::after {
  display: table;
  content: "";
}
.slick-track::after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
